{% extends 'themefrontend.html.twig' %}
{# reproduce únicamente los campos task: descripción #}

 {#  form_start(form) #}
{% block tiemporestante %}

    {% set fecha1 = '10-2-2018-2-5'  %}
    <div id="tiempo" class="tiempo" style="position: absolute;
    top: 65px;
    right: 50px;
    z-index: 10;">

        {{ fecha1 | hora_actual(zonahoraria) }}
    </div>
    <canvas id="canvas_reloj" style="position:absolute; transform: scale(0.6); right: -20px; top: -40px; background-color: #fefefe; border-radius: 100%;"></canvas>
    {% set fechaactual = anno_actual~','~mes_actual~','~dia_actual~','~hora_actual~','~minuto_actual~','~segundo_actual  %}


    {% include 'global/reloj.html.twig' with { 'fechaactual': fechaactual } %}

{% endblock %}

{% block content %}
<div class="wrapper site-min-height">
    {# {{ form_widget(form) }} #}

    <h1>List of Test</h1>


    <br/>
    {% for prueba in pruebas %}
    {%  if (prueba.idReading != null) %}
        {%  set ind =  loop.index-1 %}
        {% set dia = prueba.idReading.fecha  | date('d') %}
        {% set mes = prueba.idReading.fecha  | date('m') %}
        {% set anno = prueba.idReading.fecha  | date('Y') %}
        {% set hora = prueba.idReading.horaComienzo | date('H') %}
        {% set minuto = prueba.idReading.horaComienzo | date('i') %}
        {% set fecha = anno~'-'~mes~'-'~dia~'-'~hora~'-'~minuto  %}


        {{ dia }}-{{ mes }}-{{ anno }} {{ hora }}:{{ minuto }}
        {#{{ dia_actual }}-{{ mes_actual }}-{{ anno_actual }} {{ hora_actual }}:{{ minuto_actual }}
#}

        {%   if ((true)) %}
            <br/>
            <div style="border: 1px solid #adadad; padding: 20px; border-radius: 4px;">

            {{ prueba.id }}
            Orientacion Prueba: {{ prueba.textoOrientacion |raw}}
            <div>Reading:</div>
            {{ prueba.idReading.textoInstrucciones | raw }}



            {% if prueba.deprueba == 1 %}
                <div id="tiempo{{ ind }}" class="tiempo btn btn-default">
                    <a href="{{ path('eval_examen_reading',
                    { 'id': prueba.id }) }}">Answer</a>
                </div>
            {% else %}

                <div id="tiempo{{ ind }}" class="tiempo btn btn-default">
                    {{ fecha | mostrar_tiempo(90, path('eval_examen_reading',
                        { 'id': prueba.id }), ind, zonahoraria) }}
                </div>
            {% endif %}


            </div>
            <hr/>
        {% endif %}

    {% endif %}
    {% endfor %}
</div>


{% endblock %}
