{% extends 'themebackend.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/app/css/material-icons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/vuetifytable.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/app/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet">
    <style>
        .ui-datepicker {
            background-color: #FFF;
            border: 1px solid rgba(0,0,0,.2);
            box-shadow: 0 2px 4px rgba(0,0,0,.2);
        }
        .dropdown-menu, .ui-datepicker {
            -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
        }
        .ui-datepicker {
            width: 17em;
            padding: .2em .2em 0;
            display: none;
        }
        .ui-helper-clearfix {
            min-height: 0;
        }
        .ui-helper-clearfix:after, .ui-helper-clearfix:before {
            content: "";
            display: table;
            border-collapse: collapse;
        }

    </style>


{% endblock %}

{% block pageName %}
    Lista Pruebas
{% endblock %}

{% block content %}
    <div id="app">
        <div class="row form-panel">

            <div class="row col-xs-12" style="margin-bottom: 10px; margin-left: 0px;">
                <input class="col-sm-4 col-xs-6 col" type="text" v-model="search" placeholder="Search..."/>
                <div class="col-sm-8 col-xs-6">
                    <button style="float: right">Add Test</button>
                </div>
            </div>

            <div class="row col-xs-12" style="margin-left: 0px;">
                <template>
                    <v-card>
                        <v-data-table  v-bind:headers="headers" v-bind:items="items" v-bind:search="search">
                            <template  slot="items" scope="props" >

                                <td class="text-xs-right">${ props.item.id }</td>
                                <td class="text-xs-right">${ props.item.fecha.date }</td>
                                <td class="text-xs-right">${ props.item.texto }</td>
                                <td><button >Edit</button><button >Delete</button></td>
                            </template>

                        </v-data-table>
                    </v-card>
                </template>
            </div>
        </div>

        <div class="form-panel row">
            <textarea rows="5" class="col-xs-12" ></textarea>
            <h3 class="col-xs-12">
                <i class="ace-icon fa fa-calendar-o smaller-90"></i>
                Datepicker
            </h3>


            <div class="col-xs-12">
                <div class="">
                    <div class="input-group input-group-sm">
                        <input type="text" v-on:click="mostrar()" id="datepicker" class="form-control" />
													<span class="input-group-addon">
														<i class="ace-icon fa fa-calendar"></i>
													</span>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/vue.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/vue-resource.js') }}"></script>
    <script src="{{ asset('bundles/app/js/vuetify.min.js') }}"></script>

    <script src="{{ asset('bundles/app/js/bootstrap-datepicker.min.js') }}"></script>

    <script type="text/javascript">



        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                isActive: false,
                search: '',
                pagination: {},
                headers: [
                    {
                        text: 'Id',
                        left: true,
                        sortable: false,
                        value: 'id'
                    },
                    {text: 'Fecha', value: 'fecha'},
                    {text: 'Texto', value: 'texto'},
                    {text: 'Accion',sortable: false,},

                ],
                items: [
                    {
                        id: -1,
                        fecha: 'fecha',
                        texto: 'KitKat',
                    },
                ],

                startDate: '2018-04-25',
            },
            created: function () {
                this.getList();
                //this.inicializar();
            },

            methods: {
                ocultar:function(){
                    this.isActive = false;

                },
                mostrar:function(){
                    this.isActive = true;

                },
                //--------------------------------------BEGIN-CRUD---------------------------------------------
                //read question
                getList: function () {
                    this.$http.get("{{  path('test_json') }}", function (data, status, request) {
                        this.items = data;

                        this.loading = true;

                    }).catch(function (data, status, request) {
                        console.log('error');
                    });
                },
                //--------------------------------------END-CRUD---------------------------------------------
            }
        });

        jQuery(function($) {
            $( "#datepicker" ).datepicker({
                showOtherMonths: true,
                selectOtherMonths: false,
                //isRTL:true,



                 changeMonth: true,
                 changeYear: true,

                 showButtonPanel: true,
                beforeShow: function() {
                    this.remove();
                },

                 beforeShow: function() {
                 //change button colors
                 var datepicker = $(this).datepicker( "widget" );
                 setTimeout(function(){
                 var buttons = datepicker.find('.ui-datepicker-buttonpane')
                 .find('button');
                 buttons.eq(0).addClass('btn btn-xs');
                 buttons.eq(1).addClass('btn btn-xs btn-success');
                 buttons.wrapInner('<span class="bigger-110" />');
                 }, 0);
                 }

            });

        });
    </script>

{% endblock %}